node_modules
.next
.env
.env.local
packages/engine/fixtures
packages/contracts/artifacts
packages/contracts/cache
apps/web/data
*.log
packages/contracts/deployments/31337.json
apps/web/*.md
.vercel
.env*
!.env.example
